#application{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0;
    min-height: calc(100% - 207px);
    .top{
      margin-bottom:40px; 
      h5{
        text-align:center;
        height: 90px;
        line-height: 90px;
        font-size: 20px;
        font-weight: 500;
      }
      h6{
        height: 50px;
        font-size: 14px;
        text-align: center;
      }
      ul{
        overflow:hidden;
        li{
          width: 230px;
          height: 300px;
          background: #0a152d;
          border-radius: 4px;
          box-shadow: 6px 6px 2px #141f38;
          float:left;
          margin-right:150px;
          padding: 100px 35px 0px;
          .topImg{
            text-align:center;
            img{
              height:70px;
              width:70px;
            } 
          }
          .name{
            text-align: center;
            margin-top: 40px;
            font-size: 16px;
            height: 30px;
          }
          .note{
            text-align: center;
            font-size: 12px;
            line-height: 24px;
          }
        }
        li.last{
          margin-right:0px;
        }
      }
    }
  .bottom{
    text-align:center;
    margin:70px 0px 100px;
    .read{
       position: relative;
        margin-top: 10px;
    }
    .btn{
      margin-top:20px;
    }
    .successBtm{
      line-height:32px;
      img{
        height:22px;
        width:22px;
        margin-right:5px;
        display: inline-block; 
        vertical-align: middle;
      }
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
    button{
      width:200px;
    }
    .commonFooter{
      overflow:hidden;
      button{
        margin: 20px 80px 50px;
      }
    }
  }
  .conApp{
    position:relative;
    .step{
      margin-bottom:30px;
      p{
       line-height:24px;
      }
    }
    span{
      display: inline-block;
      vertical-align: middle;
    }
    .secSelect:after {
      content: "";
      position: absolute;
      left: 3px;
      bottom: 8px;
      width: 9px;
      height: 4px;
      border: 2px solid #2b89e1;
      border-top-color: transparent;
      border-right-color: transparent;
      -webkit-transform: rotate(-60deg);
      transform: rotate(-45deg);
    }
  }
  .checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #172d47;
    vertical-align: middle;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right:5px; 
  }
  .isSelected:after {
    content: "";
    position: absolute;
    left: 498px;
    bottom: 8px;
    width: 9px;
    height: 4px;
    border: 2px solid #2b89e1;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-45deg);
  }
  .grey{
    background:#686c76;
  }
  .dialog-pop .dialog-body{
    max-height: 620px;
  }
  .notenough{
    line-height:60px;
    height:60px;
    text-align:center;
  }
  .contentText{
    h5{
      text-align: center;
      line-height: 50px;
      font-weight: 600;
      font-size: 16px;
    }
    p{
      text-indent: 20px;
      line-height: 22px;
    }
    h6{
      text-align: center;
      line-height: 30px;
      font-weight: 600;
    }
  }
}