
#footer-box{ 
	background: $public-header-background;
	color:$gray-font-color; 
	min-height: 80px;
	a {
		color: $gray-font-color; 
  	}
	a:hover {
		color: $blue-font-color; 
		text-decoration: none;
	}
	.default-foot-min {
 		min-width:1150px;
 		width:86%;
 		margin: 0 auto;
 		padding: 0 20px; 
 		overflow:hidden;
 		max-width:1300px;
		.user_case{
			height: ''
		}
		.foot-min-top {
			border-bottom:1px solid $blobk-line-color;
	  	.foot-min-left{
	  		border-right:1px solid $blobk-line-color;
	  		padding-left:40px;
	  		min-height:200px;
	  		margin-top:25px;
	  		min-width:60%;
	  		float:left;
	  		width:60%;
	 			ul {
	 				padding-top:20px;
				 	float:left;
				 	width:100%;
				  li{
						width:130px;
						float:left;
						height:40px;
						span{
							cursor:pointer
						}
						span:hover{
							text-decoration: underline;
						}
					}
					.title{
						color:$base-font-color;
						font-weight:700
						font-size:14px;
					}
					.uside{
						height:30px !important;
						a{
							color:$explain-font-color;
						}
						a:hover{
							text-decoration: underline;
						}
					}
	 			}
   		}
			.foot-min-right{
				float:left;
				margin-top:25px;
				padding-left:40px;
				min-height:200px;
				.logo{
					padding-bottom:10px;
					width: 142px
					img {
						width: 100%;
					}
				}
				.phone{
					margin-top:10px;
					padding-bottom:10px;
					i{
							margin-right:8px;
							font-size:17px;
						}
					span{
						font-size:14px;
					}
				}
				.email{
					margin-top:10px;
					i{
						margin-right:10px;
						font-size:17px;
						vertical-align: middle;
						height:30px;
						float :left
					}
					div{
						float: left
						p{
							font-size:14px;
							margin-top:10px;
						}
					}
					span{
						font-size:14px;
					}
				}
				.foot-right-btm{
				 margin-top:20px;
				ul{
					li{
						float:left;
						width:30px;
						height:30px;
						border-radius:50%;
						margin-right:20px;
						background:$gray-font-color;
						 img{
							 display:block;
							 margin:10%;
							 width:80%;
						 }
					}
				}
				}
			}
		}
		.foot-min-bottom{
			height:50px;
			margin-top: 10px;
			line-height:50px;
			text-align:center;
		}
  	}
}
