.m-main  {
  .main-content{
    .clickpointer{
      cursor:pointer !important;
      text-indent: 16px;
    }
    .pointer{
      cursor:pointer !important;
    }
    .sellColor{
      color:$sell-color !important;
    }
    .buyColor{
      color:$buy-color !important;
    }
    .payment{
      text-align:left !important;
      padding-left:40px !important;
    }
    .turnov{
      display:inline-block;
      color:$white-color;
      padding:0 5px;
      height:24px;
      line-height:24px;
      background:$blue-font-color
      border-radius:2px;
      cursor:pointer;
      opacity:0.8
      &:hover{
        opacity:1
      }
    }
      /* 市场 */
  .market {
    .header ul li.header-more{
      float:right;
      margin-right:20px;
    }
  }
  .mark-box {
    tr {
      td{
        img {
          display:inline-block;
          vertical-align: middle;
          margin-right:5px;
          border-radius:50%;
        }
        &.busine{
          cursor:pointer;
        }
        .business{
          padding:5px;
          background:$sell-color;
          border-radius:2px;
          cursor:pointer;
        }
      }
    }
  }
}
}